html, body, div {
    height: 100%; 
    margin: 0px;
    font-family: "Helvetica";
    color: #05204a;
}
   
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #ede8e7;
}

.item {
    display: grid;
}

.hello {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-size: 200%;
    padding: 25px;
    padding-bottom: 0px;
    color: #05204a;
}

.myPicture {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 3;
    font-size: 200%;
    padding: 25px;
    padding-bottom: 0px;
    background-image: url("../assets/me.jpg");
    background-size: 100%;
}

/*
*
SKILLS SECTION
*
*/

.skills-background {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
    background-color: #bfacaa;   
}

.skillsTitleBox {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-size: 150%;
    padding-bottom: 0px;
    color: #05204a;
    justify-items: center;
    padding-top: 50px;
}

.skills-content {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    padding: 25px;
    padding-top: 0px;
}

/*
*
BIO SECTION
*
*/

.bio-background {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
    background-color: #e1d9d8;   
}

.bioTitleBox {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-size: 150%;
    padding-bottom: 0px;
    color: #05204a;
    justify-items: center;
    padding-top: 50px;
}

.bio-content {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    padding: 25px;
    padding-top: 0px;
}

/*
*
GOODBYE SECTION
*
*/
.goodbye-background {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
    background-color: #9d8d8c;   
}
.goodbyeBox {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
}

.goodbye{
    font-size: 300%;
    padding-right: 20px;
    text-align: right;
}



.skills {
    color: #05204a;
    font-size: 400%;
    padding-top: 50px;
}

p, ul, li {
    margin: 0px;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}


p {
    margin-top: 20px;
}

h1 {
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
}

a {
    text-decoration: none;
}